body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(211, 176, 237),black);
    display: grid;
}

a{
    text-decoration: none;
    color: inherit;
}

.btn{
    padding: 20px;
    position: relative;
    transition: all .2s ease;

}

.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 56px;
    border-radius: 30px;
    background: linear-gradient(135deg, #ffec61,#f321d7);
    display: block;
    transition: all .3s ease;
    
}
.btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(30px) scale(.9);
    filter: blur(30px);
    width: 54px;
    height: 56px;
    border-radius: 30px;
    background: linear-gradient(135deg, #ffec61,#f321d7);
    display: block;
    transition: all .3s ease;
    
}
.btn span{
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.btn:hover::before{
    width: 100%;
    background: linear-gradient(135deg, #ffec61,#f321d7);

}
.btn:hover::after{
    width: 100%;
    background: linear-gradient(135deg, #ffec61,#f321d7);
    
}